* {
  font-family: "Courier Prime";
}
a {
  text-decoration: none !important;
  color: #23272b !important;
  margin-left: 7px;
}
a:hover {
  color: #5e90c2 !important;
}
.search-elements {
  display: flex;
  justify-content: center;
}

.search-bar {
  margin-right: 5px;
  width: 33%;
}
.search-button {
  width: auto;
  border-radius: 5px;
}

.row {
  width: 100%;
}

.hint {
  display: flex;
  justify-content: center;
}

section {
  background-color: azure;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 8px;
  border: 1px solid black;
  box-shadow: rgb(1, 10, 43) 0px 20px 30px -10px;
}
