* {
  font-family: "Courier Prime";
}

.search-elements {
  display: flex;
  justify-content: center;
}

.search-bar {
  margin-right: 5px;
}
.search-button {
  width: 7%;
  border-radius: 5px;
}

.row {
  width: 100%;
}
